.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
    .links {
      display: flex;
      gap: 2rem;
      flex-direction: row;
      .link {
        text-decoration: none;
      }
    }
  .logins {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}
