@import "../../partials/variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  .link {
    text-decoration: none;
    color: inherit;
  }
  .links {
    display: flex;
    gap: 2rem;
    flex-direction: row;

    .link {
      text-decoration: none;
      color: inherit;
    }
  }
  .logins {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    .login {
      display: inline-block;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff; // Blue color, you can change it to match your app's theme
      color: #fff; // White text color
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s ease;
    
      &:hover {
        background-color: #0056b3; // Darker blue on hover
      }
    
      &:focus {
        outline: none; // Remove default focus outline
      }
    }
    .register {
      display: inline-block;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #28a745;
      color: #fff; 
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s ease;
    
      &:hover {
        background-color: #218838;
      }
    
      &:focus {
        outline: none; // Remove default focus outline
      }
    }
  }
  .auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    .link {
      text-decoration: none;
      color: inherit;
    }

    .write {
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
      justify-content: center;
      align-items: center;
      width: 5rem;
      border: 1px solid teal;
      border-radius: 10px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
