$background : #ffffff;
$text-primary : #000;
$text-secondary : #8e05c2;
$accent : #8e05c2;
$border : #333;
$form-background : #fff;
$btn-bg-color: #007bff;
$btn-hover-bg-color: darken($btn-bg-color, 10%);
$btn-text-color: #ffffff;
$btn-hover-text-color: $btn-text-color;
$btn-border-radius: 5px;
$btn-padding: 10px 20px;
$btn-font-size: 16px;
$btn-transition-duration: 0.3s;